.frase{
    font-size: 20px;
    text-align: left;
}

.campo-digitacao{
    font-size: 20px;
    height: 130px;
    border: 5px solid black;
}

.campo-desativado{
    background-color: lightgray;
}

icones{
    vertical-align: middle;
}

.campo-correto{
    border: 5px solid green;
}
.campo-errado{
    border: 5px solid red;
}

.placar{
    display: none;
}

body{
    overflow: scroll;
}

#erro{
    color: red;
    display: none;
}
#spinner{
    display: none;
}